.experience {
  @apply flex flex-col;
  position: relative;
  height: 100vh;
}

*,
::after,
::before {
  box-sizing: border-box;
}

.timeline {
  --timeline-color: rgb(12, 86, 182);
  position: absolute;
  display: flex;
  flex-wrap: nowrap;
  margin: 0;
  padding: 0;
  left: calc(50%);
  transform: translate(max(calc(-50vw + 40px), calc(-50%)), 0);
  /* set here the height of the timeline */
  height: 270px;
  background: linear-gradient(
    134deg,
    rgb(96, 161, 235, 0.7) 0%,
    rgb(36, 130, 218, 0.7) 35%,
    rgba(84, 123, 231, 0.7) 50%,
    rgba(101, 103, 224, 0.7) 65%,
    rgb(96, 98, 235, 0.7) 100%
  );
  box-shadow: 0 0 16px #0003;
}

/* middle line */
.timeline:before {
  content: "";
  position: absolute;
  top: calc(50% - 1.5px);
  width: calc(100% - 20px);
  height: 3px;
  background: rgb(8, 12, 241);
}

.timeline li {
  transition: height 1s ease-out;
  border: 1px var(--timeline-color) solid;
  color: var(--timeline-color);
  background: #fff;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  align-self: flex-start;
  width: var(--detail-width);
}

/*  event in even position are bottom-aligned */
.timeline li:nth-child(2n),
.timeline li:nth-child(2n) .timeline-info {
  align-self: flex-end;
}

.timeline .timeline-info {
  position: relative;
  // padding: 10px;
  background: #fff;
}
.timeline li:hover .timeline-info {
  background: var(--timeline-color);
}

.timeline .title {
  width: max-content;
  max-width: 50vw;
}

/* style for the icon over the timeline */
.timeline li:before {
  content: var(--icon);
  color: #4130d4;
  position: absolute;
  top: 50%;
  margin-left: calc(var(--detail-width) / 2);
  transform: translate(-50%, -50%);
  cursor: pointer;
  background-color: transparent;
}

/* style for the event arrow */
.timeline .timeline-info:before {
  content: "";
  position: absolute;
  left: 50%;
  top: 100%;
  width: 20px;
  height: 20px;
  transform: translate(-50%, -1px) rotateZ(45deg);
  background: #fff;
  pointer-events: none;
}

/* position of the event arrow in odd position */
.timeline li:nth-child(2n - 1) .timeline-info:before {
  top: 100%;
  margin-top: -8px;
  border-right: 1px var(--timeline-color) solid;
  border-bottom: 1px var(--timeline-color) solid;
}

/* position of the event arrow in even position */
.timeline li:nth-child(2n) .timeline-info:before {
  top: 0;
  margin-top: -10px;
  border-left: 1px var(--timeline-color) solid;
  border-top: 1px var(--timeline-color) solid;
}

.timeline .detail-timeline {
  transition: height 1s ease-out;
  overflow-y: hidden;
  height: var(--init-height);
}

.timeline li:hover .detail-timeline {
  height: var(--detail-height);
}

.timeline li:hover {
  color: #fff;
  background: var(--timeline-color);
}

.timeline li:hover .timeline-info:before {
  display: none;
}

.timeline button {
  @apply mr-0 ml-auto mt-[4px] block bg-white rounded-[12px] text-[#0c56b6] py-[4px]
  px-[8px] font-semibold;
}

// ----------------------------------------------------------------

.modal {
  position: absolute;
  border: 1px solid rgb(204, 204, 204);
  background: rgb(255, 255, 255);
  border-radius: 4px;
}

.modal:focus-visible {
  outline-style: none;
}

.overlay {
  @apply bg-sky-100 bg-opacity-95 fixed top-0 h-screen overflow-y-hidden 
  z-[999] flex justify-center items-center;
  width: calc(100%);
}
