.sidebar-icon {
  @apply relative flex items-center justify-center
  h-[48px] w-[48px] my-[8px] mx-auto
bg-gray-200 hover:bg-blue-400 dark:bg-gray-800
text-blue-500 hover:text-white

  hover:rounded-[12px] rounded-[24px]
  transition-all duration-300 ease-linear
  cursor-pointer shadow-lg;
}

.active .sidebar-icon {
  @apply bg-blue-600 text-white;
  border-radius: 12px;
}

.sidebar-tooltip {
  @apply fixed w-auto min-w-max left-[67.2px]
  transition-all duration-100 scale-0 origin-left;
}

.sidebar-span {
  @apply rounded-md shadow-md w-auto p-[8px] mx-[7px]
  text-white bg-gray-900 font-bold z-50;
  font-size: 14px !important;
  line-height: 20px !important;
}

.triangle-left {
  &:before {
    @apply border-r-gray-900 my-auto absolute;
    content: "";
    width: 0;
    height: 0;
    top: 50%;
    transform: translate(0, -50%);
    border-top: 7px solid transparent;
    border-bottom: 7px solid transparent;
    border-right: 7px solid rgb(17 24 39);
  }
}
.sidebar-hr {
  @apply bg-gray-200 dark:bg-gray-800
  border border-gray-200 dark:border-gray-800 rounded-full
  mx-2;
}

.channel-bar {
  @apply dark:bg-gray-800 absolute top-0 ml-[64px] h-screen overflow-y-auto overflow-x-hidden;
  width: calc(100% - 64px);
}
